<% provide(:button_text, "Thêm mới") %>
<div id="page-content">
  <div class="block full">
    <div class="block-title text-center">
      <h1>Thêm mới tin</h1>
    </div>
      <%= render "form"  %>
  </div>
</div>
