<div class="modal fade" id="modal-help-create-music" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">Hướng dẫn tạo và lấy danh sách nhạc</h4>
            </div>
            <div class="modal-body">
                <h4>Các bạn đọc kỹ hướng dẫn và làm theo các bước sau</h4>
                <p><strong>Bước 1:</strong>Truy cập vào đường dẫn <a href="https://soundcloud.com" style="color: red">soundclound</a></p>
                <p><strong>Bước 2:</strong> Đăng ký tài khoản và login</p>
                <p><strong>Bước 3:</strong> Tạo playlist nhạc trên SoundClound, hướng dẫn <a href="https://help.soundcloud.com/hc/en-us/articles/115003449787-Creating-and-adding-tracks-to-a-playlist", style="color: red">Tại đây</a></p>
                <p><strong>Bước 4:</strong> Sau khi tạo hoàn tất playlist, các bạn quay lại trang cá nhân, tìm đến playlist bạn vừa tạo</p>
                <p><strong>Bước 5:</strong> Chọn vào biểu tượng "Share" dưới playlist bạn vừa tạo</p>
                <p><strong>Bước 6:</strong> Chọn vào thẻ Embed ở cửa sổ hiện lên</p>
                <p><strong>Bước 7:</strong> Copy đoạn có dạng " < iframe....." trong ô chọn "Code" </p>
                <p><strong>Bước 8:</strong> Quay về SEW , chọn vào tạo mới </p>
                <p><strong>Bước 9:</strong> Dán đoạn vừa copy vào ô Url </p>
                <p><strong>Bước 10:</strong> Điền các thông tin còn lại và bấm vào nút "Tạo mới" </p>
                <hr>
                <h4>Như vậy là xong rồi, tận hưởng thôi :D</h4>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Đóng</button>
            </div>
          </div>
    </div>
</div>
