<div class="modal fade" id="modal-help-create-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">Hướng dẫn thêm video vào website</h4>
            </div>
            <div class="modal-body">
                <h4>Các bạn đọc kỹ hướng dẫn và làm theo các bước sau</h4>
                <p><strong>Bước 1:</strong>Truy cập vào đường dẫn <a href="https://youtube.com" style="color: red">Youtube</a></p>
                <p><strong>Bước 2:</strong> Tìm video bạn yêu thích trong ô tìm kiếm</p>
                <p><strong>Bước 3:</strong> Rê chuột vào giữa video, kích chuột phải và chọn "Sao chép Mã Nhúng" Nếu là tiếng Việt, hoặc chọn "Copy link embed" Nếu là tiếng Anh</p>
                <p><strong>Bước 4:</strong> Quay về SEW , chọn vào tạo mới ở thẻ "Tạo playlist youtube"</p>
                <p><strong>Bước 5:</strong> Dán đoạn vừa copy bằng cách kích chuột phải chọn dán hoặc ấn tổ hợp ctrl + V vào ô Url </p>
                <p><strong>Bước 6:</strong> Điền các thông tin còn lại và bấm vào nút "Tạo mới" </p>
                <hr>
                <h4>Như vậy là xong rồi, tận hưởng thôi :D</h4>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button">Đóng</button>
            </div>
          </div>
    </div>
</div>
