<% provide(:button_text, "Add new") %>
<div id="page-content">
  <div class="block full">
    <div class="block-title text-center">
      <h1>Add news Category group</h1>
    </div>
      <%= render "form" %>
  </div>
</div>
