<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>
          <h2 style="font-size: 20px;color: red">Smart Entertaiment Website</h2>
          <p>Một sản phẩm của team SE, mong muốn một dịch vụ tin tức giải trí nhanh chóng và tiện lợi cho người dùng.</p>
        </div>
        <!--/col-md-3-->
        <!-- End About -->
        <!-- Latest -->
        <!-- <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline">
              <h2>Các bài viết mới nhất</h2>
            </div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">Incredible content</a>
                <small>May 8, 2014</small>
              </li>
              <li>
                <a href="#">Best shoots</a>
                <small>June 23, 2014</small>
              </li>
              <li>
                <a href="#">New Terms and Conditions</a>
                <small>September 15, 2014</small>
              </li>
            </ul>
          </div>
        </div> -->
        <!--/col-md-3-->
        <!-- End Latest -->
        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline">
            <h2>Các liên kết với website</h2>
          </div>
          <ul class="list-unstyled link-list">
            <li><a href="#">Về chúng tôi</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Các dự án</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
        <!--/col-md-3-->
        <!-- End Link List -->
        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline">
            <h2>Liên hệ với chúng tôi</h2>
          </div>
          <address class="md-margin-bottom-40">
            171, Phù Đổng, Cẩm Lệ <br>
            Đà Nẵng, Việt Nam <br>
            Phone: 0905 777 594 <br>
            Fax: 999 999 9999 <br>
            Email: <a href="mailto:sew.info.2017@gmail.com" class="">sew.info.2017@gmail.com</a>
          </address>
        </div>
        <!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div>
  <!--/footer-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 - SE team © All Rights Reserved.
            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
          </p>
        </div>
        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
              <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
              <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
              <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
              <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
              <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
              <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div>
  <!--/copyright-->
</div>
