.image-news img{
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.newsest{
  border-bottom: 1px solid rgb(238, 238, 238);
}
.user-avatar{
  padding-left: 10%;
}
.user-avatar>img{
  border-radius: 10%;
}
.logo>img{
  height: 75%;
}
.cate_groups{
  padding-left: 20px;
}
.ul-hotnew {
  margin-top: 10px;
  margin-left: 5px !important;
}
.over-hidden {
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #e2e2e3;
}
.over-hidden-last{
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.category-news {
  margin-top: 10px;
/*  padding-bottom: 20px;
  margin-bottom: 50px;*/
}
.category-news li {
  list-style: none;
}
.category-title {
  border-bottom: 2px solid #d9534f;
}
.category-title span {
  margin-bottom: 1px;
}
.time-word:first-letter {
  text-transform: capitalize;
}
.border-dotted {
  overflow: hidden;
  padding: 0 !important;
  border-bottom: 1px dotted #e2e2e3;
  /*margin-bottom: 50px;*/
}
.meta-data{
  padding: 10px;
  padding-bottom: 10px;
}
.admin-content{
  border: 1px solid black;
}
.site-management{
  font-size: 18px;
}
