.image-news img{
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.newsest{
  border-bottom: 1px solid rgb(238, 238, 238);
}
.user-avatar{
  padding-left: 10%;
}
.user-avatar>img{
  border-radius: 10%;
}
.logo>img{
  height: 75%;
}
.cate_groups{
  padding-left: 20px;
}
.ul-hotnew {
  margin-top: 10px;
  margin-left: 5px !important;
}
.over-hidden {
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #e2e2e3;
}
